body, html {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    color: #2d3038;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #2d3038;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #2d3038;
}
a:hover {
    color: #00aeef;
}
.btn:focus, .form-control:focus, a, a:active, a:focus, a:hover, button:focus {
    outline: 0!important;
    text-decoration: none!important;
    box-shadow: none!important;
}
.section-padding {
    padding-top: 80px;
    padding-bottom: 100px;
}
.section-title {
    margin-bottom: 60px;
}
.section-title h1 {
    font-size: 56px;
}
.home-two .section-title h1 {
    font-size: 50px;
    margin-top: 0;
    font-weight: 300;
}
.section-title h1::after {
    content: "";
    position: absolute;
    background: #fff1f1;
    height: 8rem;
    width: 16rem;
    border-radius: 49%;
    right: 51%;
    z-index: -1;
}
.bg-color {
    background-color: #f9f9f9;
    position: relative;
}
.thumbnail:hover {
    box-shadow: 10px 10px 0 -4px #d1e0ff;
    transition: .2s;
    margin-top: 1px;
}
.bg-color:before {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: block;
}
.section-content {
    max-width: 750px;
}
.btn.btn-primary {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3c70b4;
    border: 1px solid #3c70b4;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn.btn-primary:before {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}
.btn.btn-primary:hover:before {
    left: 0;
}
.btn.btn-primary:hover {
    color: #3c70b4;
}
#navigation.menu-one .navbar {
    width: 30%;
    left: inherit;
    right: 0;
}
#navigation .navbar-nav>li {
    background-color: #2d3038;
}
#navigation.menu-one .navbar-nav>li {
    float: none;
    height: 9.1%;
    position: relative;
    margin-left: 10px;
}
#navigation.menu-one .navbar-nav {
    float: none;
}
#navigation.menu-one .navbar-nav>li.current, #navigation.menu-one .navbar-nav>li:hover {
    margin-left: 0;
    padding-left: 10px;
}
#navigation .navbar-nav>li a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
}
#navigation.menu-one .navbar-nav>li span {
    position: absolute;
    top: 50%;
    left: 90px;
    margin-top: -8px;
}
#navigation .navbar-nav>li i {
    position: absolute;
    left: -50px;
    font-size: 30px;
    margin-top: -6px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
#navigation.menu-one .navbar:before {
    left: 15px;
    right: -100%}
#navigation.menu-one .navbar:after {
    display: none;
}
#navigation .navbar-nav>li:nth-child(1) {
    background-color: #f4bf00;
}
#navigation .navbar-nav>li:nth-child(2) {
    background-color: #f7941d;
}
#navigation .navbar-nav>li:nth-child(3) {
    background-color: #f26522;
}
#navigation .navbar-nav>li:nth-child(4) {
    background-color: #ed1c24;
}
#navigation .navbar-nav>li:nth-child(5) {
    background-color: #e10337;
}
#navigation .navbar-nav>li:nth-child(6) {
    background-color: #b90162;
}
#navigation .navbar-nav>li:last-child {
    background-color: #87c05e;
}
#navigation .navbar-nav>li .social {
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: 35px;
}
#navigation .navbar-nav>li ul li {
    padding: 0;
}
#navigation .navbar-nav>li ul li i {
    font-size: 16px;
    margin-right: 0;
    position: inherit;
}
#navigation .navbar-nav>li ul li a {
    padding: 10px;
}
#navigation .navbar-nav>li ul li a:hover i {
    font-size: 16px;
    color: #000;
}
#navigation .navbar {
    border: 0;
}
#navigation.menu-two .navbar-nav>li a {
    padding: 28px 18px;
    height: inherit;
    position: inherit!important;
}
#navigation.menu-two .navbar-nav>li a:hover, #navigation.menu-two .navbar-nav>li.current a {
    padding-bottom: 40px;
}
#navigation.menu-two .navbar-nav>li:last-child {
    background-color: #3c70b4;
}
#navigation .navbar:after, #navigation .navbar:before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 76px;
    background-color: #2d3038;
    z-index: -1;
}
#navigation .navbar:before {
    right: 0;
    background-color: #2d3038;
    left: -100%}
#navigation .navbar:after {
    left: 50%;
    background-color: #3c70b4;
    right: 0;
    z-index: -1;
}
.logo {
    background-color: #2d3038;
    height: 76px;
    padding: 9px 25px 10px 15px;
}
.menu-two .navbar-fixed-top {
    max-width: 1170px;
    margin: 0 auto;
}
ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 7px 0;
    margin: 0;
    min-width: 160px;
    display: none;
    z-index: 999;
    background-color: #f4bf00;
}
.nav.navbar-nav>li:hover>ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp .5s;
    -moz-animation: fadeInUp .5s;
    -ms-animation: fadeInUp .5s;
    -o-animation: fadeInUp .5s;
    animation: fadeInUp .5s;
}
#navigation.menu-two .navbar-nav .sub-menu li a {
    padding: 5px 18px;
    color: #fff;
    font-size: 13px;
}
@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}@keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.navbar-toggle {
    border-color: #fff;
    background-color: transparent;
    padding: 12px 10px;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.home-banner-one {
    background-color: #e7e7e7;
}
.logo-image {
  height: 55px !important;
  vertical-align: middle !important;
}
.home-two #home-banner {
    background-image: url(../images/lao.svg);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 40%%;
}
.banner-info h1 {
    font-size: 48px;
    font-family: rookies-showtimesregular;
}
.banner-info h2 {
    font-size: 5em;
    margin-top: 0;
    line-height: 70px;
    margin-left: -8px;
    text-shadow: 2px 1px 1px #ccc;
}
.banner-info h3 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.home-two .banner-info h1 {
    font-size: 62px;
    margin-bottom: 0;
    font-family: Sacramento, cursive;
}
#home-banner, .banner-content {
    position: relative;
    width: 100%;
    height: 700px;
}
.banner-content .banner-info {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    margin-top: -100px;
}
.home-two .home-social {
    position: absolute;
    top: 40px;
}
.menu-two .home-social li+li {
    margin-left: 15px;
}
.menu-two .home-social li a {
    color: #2d3038;
    font-size: 16px;
}
.menu-two .home-social li a:hover {
    color: #00aeef;
}
.about-section .section-title {
    margin-bottom: 45px;
}
.about-section .section-title h4 {
    margin-top: 0;
    line-height: 0;
}
.about-info {
    font-size: 14px;
    line-height: 24px;
}
@font-face {
    font-family: rookies-showtimesregular;
    src: url(../fonts/rookies_showtimes-webfont.woff2) format("woff2"), url(../fonts/rookies_showtimes-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
