/* lg */
@media (min-width: 1400px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

	.banner-info h2 {
	    font-size: 60px;
	    line-height: 70px;
	}
	#navigation.menu-two .navbar-nav > li a {
		padding: 22px 10px;
		font-size: 12px;
	}
	#navigation.menu-two .navbar-nav > li.current a,
	#navigation.menu-two .navbar-nav > li a:hover {
		padding-bottom: 30px;
	}
	.home-two .banner-info h1 {
		font-size: 60px;
	}
	#navigation .navbar:before, #navigation .navbar:after {
		height: 64px;
	}
	.logo {
	    height: 64px;
	    padding: 2px 15px;
	}
}

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
      margin-top: 17px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .collapse.in{
      display:block !important;
  }
  .home-two .home-social {
		top: 100px;
	}
	.banner-content .banner-info {
		top: 100%;
		margin-top: -220px;
	}
	#navigation .navbar:before {
		width: 200%;
	}
	h2 {
		font-size: 3em !important;
	}
	h1 {
		font-size: 2em !important;
		margin-left: -5px;
	}
	.home-two #home-banner {
	    background-image: url(../images/lao.svg);
	    background-repeat: no-repeat;
	    background-position: 85% 50%;
	    background-size: 35%;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-toggle  {
	 	margin-top: 15px;
	}
	#navigation.menu-one .navbar-nav > li:first-child a {
		margin-left: 20px;
	}
	#navigation.menu-one .navbar li img {
		width: 80%;
		height: inherit;
	}
	.banner-info h1 {
		font-size: 40px;
	}
	.section-title h1 {
		font-size: 50px;
	}
	.sub-content {
		padding-left: 0;
	}
	.banner-info h2 {
	    font-size: 55px;
	    line-height: 40px;
	}
	.banner-info h3 {
		letter-spacing: 15px;
	}

	.section-padding {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	#navigation.menu-one .navbar-nav {
		padding-bottom: 0;
	}
	#navigation.menu-one .navbar-nav > li ul li a {
		padding-left: 5px;
		padding-right: 5px;
	}
	#navigation.menu-one .navbar-nav > li span {
		left: 60px;
	}
	#navigation.menu-one .navbar-nav > li i {
		font-size: 25px;
		left: -40px;
	}
	#navigation.menu-one .navbar-nav > li ul.social  i{
		font-size: 14px;
	}
	#navigation.menu-one .navbar-nav > li {
		height: 6.5%;
	}
	#navigation.menu-one .navbar-nav > li .social {
		left: 20px;
	}
	#navigation.menu-two .navbar-nav > li a {
		padding: 15px 20px;
	}
	#navigation.menu-two .navbar-nav > li.current a,
	#navigation.menu-two .navbar-nav > li a:hover {
		padding-bottom: 15px;
	}
	.home-two .banner-info h1 {
		font-size: 50px;
	}
	#navigation .navbar:before {
		width: 200%;
	}
	#navigation.menu-one .navbar {
		width: 100%;
	}
	#navigation.menu-one .navbar:before {
	    left: -100%;
	    right: 0;
	}
	.home-one .navbar-nav {
		margin-top: 10px;
	}
}


/* xs */
@media (max-width: 767px) {
	#navigation .navbar:before {
		width: 200%;
	}
	.navbar-toggle  {
	 	margin-top:8px;
	}
	#home-banner{
		background-color: #f9f9f9;
	}
	.banner-info {
		bottom: 30px;
	}
	.banner-info h1 {
		font-size: 30px;
	}
	.banner-info h2 {
		font-size: 50px;
		line-height: 25px;
	}
	.banner-info h3 {
		font-size: 14px;
		letter-spacing: 15px;
	}
	.section-padding {
	    overflow: hidden;
	    padding-bottom: 30px;
	    padding-top: 30px;
	}
	.about-section .section-title,
	.section-title {
		margin-bottom: 20px;
	}
	.section-title h1 {
		font-size: 36px;
	}
	.bar-right {
		float: none;
	}

	.btn.btn-primary{
		font-size: 14px;
		padding: 7px 15px;
	}
	.profile-section .btn.btn-primary {
		margin-top: 15px;
	}
	.declaration h1 {
		margin-top: 20px;
	}
	.home-one #navigation .navbar,
	.home-two #navigation .navbar {
		width: 100%;
	}
	.navbar-collapse {
		border-top: 0;
	}

	#navigation.menu-one .navbar-nav > li i {
		display: none;
	}
	#navigation.menu-one .navbar-nav > li ul li a:hover i,
	#navigation.menu-one .navbar-nav > li ul li i {
		display: block;
		font-size: 14px;
	}
	#navigation.menu-one .navbar-nav > li {
		height: 15%;
	}
	#navigation.menu-one .navbar-nav> li {
		margin-left: 0;
		padding-left: 10px;
	}
	#navigation.menu-one .navbar-nav > li:last-child,
	#navigation.menu-one .navbar-nav > li:last-child:hover {
		margin-left: 0;
		padding-left: 0;
	}
	#navigation.menu-one .navbar-nav>li ul li a {
		margin-top: 18%;
	}
	#navigation.menu-one .navbar-nav > li span{
		left: 20px;
	}
	#navigation.menu-one .navbar-nav > li.current span,
	#navigation.menu-one .navbar-nav > li:hover span {
		left: 25px;
	}
	#navigation .navbar-nav {
		margin-top: 0;
	}
	#navigation .navbar-nav>li .social {
		left: 25px;
	}
	.menu-one .container {
		padding: 0;
	}
	.home-one .logo {
		padding-left: 15px;
	}
	#navigation.menu-two .navbar-nav > li a {
		padding: 10px 15px;
		font-size: 13px;
	}
	#navigation.menu-two .navbar-nav > li.current a,
	#navigation.menu-two .navbar-nav > li a:hover,
	#navigation.menu-two .navbar-nav > li:last-child a:hover,
	#navigation.menu-two .navbar-nav > li.current:last-child a {
		padding-bottom: 10px;
	}
	.home-two .banner-info {
		text-align: left;
		width: 100%;
		padding-left: 25px;
	}
	.logo {
	    background-color: #2d3038;
	    height: 57px;
	    padding: 8px 15px;
	    max-width: 60%;
	}
	.home-one .logo {
		max-width: 100%;
		margin-left: 0;
	}
	.logo img {
		max-width: 75%;
	}
	.home-two .home-social {
		top: 100%;
		margin-top: -40px;
		margin-left: 20px;
	}
	.home-two .banner-info h1 {
		font-size: 40px;
		margin-bottom: 5px;
	}
	#navigation .navbar:before,
	#navigation .navbar:after {
		height: 57px;
	}
	.banner-content .banner-info {
		top: 100%;
		margin-top: -180px;
	}
	.home-banner-one .banner-content {
		padding: 15px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {

	.banner-info h2 {
		font-size: 48px;
		line-height: 15px;
	}
	.banner-info h3 {
		letter-spacing: 8px;
	}
	.section-title h1, .home-two .section-title h1 {
		font-size: 30px;
	}
	#navigation .navbar-nav > li {
		height: 8%;
	}
	.menu-two .logo {
		padding-bottom: 5px;
	}
	.logo img {
		max-width: 90%;
	}
	.home-two .banner-info {
		padding-left: 15px;
	}
	.home-two .home-social {
		margin-left: 15px;
	}
	.home-one .logo {
		max-width: 80%;
		height: 57px;
	}
	#navigation.menu-one .navbar-nav > li {
		height: 12%;
	}
}
